<form [formGroup]="registerForm" (ngSubmit)="register()" autocomplete="off">
  <h2 class="text-center text-primary">Sign Up</h2>
  <hr>
  <div class="mb-3">
    <input type="text" class="form-control" name="username" formControlName="username" placeholder="Username">
  </div>
  <div class="mb-3">
    <input type="password" class="form-control" name="password" formControlName="password" placeholder="Password">
  </div>
  <div class="mb-3">
    <input type="password" class="form-control" name="password" formControlName="confirmPassword" placeholder="Confirm Password">
  </div>
  <div class="text-center">
    <button class="btn btn-success me-2" type="submit">Register</button>
    <button class="btn btn-warning" type="button" (click)="cancel()">Cancel</button>
  </div>
</form>

<p>Form value: {{registerForm.value | json}}</p>
<p>Form value: {{registerForm.status | json}}</p>
