.nv-file-over {
  border: dotted 3px palegreen;
}

input[type=file] {
  color: transparent;
}

.not-approved {
  opacity: .2;
}

.img-wrapper{
  position: relative;
}

img-text {
  position: absolute;
  bottom: 30%;
}
